<div class="container border" style="align:center; width:900px; background-color:;">
  <div>
<h1> Mobile recharge or Bill Payment</h1>
</div>
<form class="form-group">

  <div class="custom-control custom-radio custom-control-inline">
  <input type="radio" id="radio1"  name="rechargeType" >
  <label  for="customRadioInline1">Prepaid</label>
</div>
<div class="custom-control custom-radio custom-control-inline">
  <input type="radio" id="radio1" name="rechargeType" >
  <label  for="customRadioInline2">Postpaid</label>
</div>
<div class="row" style="margin-top:20px">
<div class="row" style="margin-top:10px; margin-left:10px">
<input type="text" class="form-control" placeholder="Mobile Number" style="width:200px;margin-right:10px">
<input type="text" class="form-control" placeholder="Oprator"style="width:200px;margin-right:10px">
<input type="text" class="form-control" placeholder="Amount"style="width:200px;margin-right:10px">
</div>
<div style="margin:20px;margin-top:0px"><button class="btn btn-primary btn-lg" > Proceed To Recharge</button></div>
</div>
</form>
</div>