<div>
<div style="background-color:#f3f7f8;hight: 100px;">
  <h6> paytm header</h6>
</div>
<div style="background-color:#fff;">
<h1>paytm toggle bar</h1>
</div>
</div>
<div  class="nav justify-content-center" style="background-color:#012b72;height:150px">
<div class="nav-item"><a href="" class="nav-link">Mobile</a></div>
<div class="nav-item"><a href="" class="nav-link">Electricity</a></div>
<div class="nav-item"><a href="" class="nav-link">DTH Recharge</a></div>
<div class="nav-item"><a href="" class="nav-link">Metro</a></div>
<div class="nav-item"><a href="" class="nav-link">Landline</a></div>
<div class="nav-item"><a href="" class="nav-link">Broadband</a></div>
<div class="nav-item"><a href="" class="nav-link">BuyFASTag</a></div>
<div class="nav-item"><a href="" class="nav-link">AIMA MAT Form</a></div>
<div class="nav-item"><a href="" class="nav-link">Pattm First Games</a></div>
<div class="nav-item"><a href="" class="nav-link">Paytm Money</a></div>
<div class="nav-item"><a href="" class="nav-link">More</a></div>
</div>
<app-mobile-recharge></app-mobile-recharge>
<app-book-shop [items]="bookShortcuts" title="Book on paytm"></app-book-shop>
<app-book-shop [items]="shoppingShortcuts"></app-book-shop>
<app-paytm-mall-list [items]="paytmMall"></app-paytm-mall-list>

